@font-face {
    font-family: 'Spartan';
    src: url('rsrc/fonts/leaguespartan-bold-webfont.eot');
    src: url('rsrc/fonts/leaguespartan-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('rsrc/fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('rsrc/fonts/leaguespartan-bold-webfont.woff') format('woff'),
         url('rsrc/fonts/leaguespartan-bold-webfont.ttf') format('truetype'),
         url('rsrc/fonts/leaguespartan-bold-webfont.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}






:root
{
	--headerHeight: 15vh;
	--channelHeight: 10vh;
	--videoWidth: min(calc(16 * 100vh / 9), 100vw);
	--videoHeight: min(calc(9 * 100vw / 16), 100vh);

	--playerHeight: calc((100vh - 2 * var(--headerHeight)) / 3);


	--currentChannelHeight: calc(var(--playerHeight) / 3);
	--dataHeight: calc(3 * var(--playerHeight) / 6);
	--controlsHeight: calc(2 * var(--playerHeight) / 6);
	--settingsHeight: calc(1 * var(--playerHeight) / 6);

	--backgroundColor: #00000075;

	--h1FontSize: max(min(3.6vh, 3.6vw), 21px);
	--h2FontSize: calc(.8 * var(--h1FontSize));
	--h3FontSize: calc(.6 * var(--h1FontSize));
	--h4FontSize: calc(.4 * var(--h1FontSize));



	font-family: Spartan, Arial;
	color: white;
}

*
{
	margin: 0;
	padding: 0;
}



/* ----------------------------------------------
 * Scrollbar
 * src : https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar;
 * ---------------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}




/* =========================================================================
	PAGE WEB
   ========================================================================= */

body.cursor {
	cursor: auto;
}

body.nocursor {
	cursor: none !important;
}

	/* ------------------------------------
		BACKGROUND
	   ------------------------------------ */

	#background
	{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;

		background-color: black;

		z-index: 1;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		overflow: hidden;
	}




	#playerContainer
	{
			position: relative;
			overflow: hidden;
			/* Keep it the right aspect-ratio */
			/*min-height: calc(9 * min(100vh, 100vw) / 16);*/
			max-height: 100vh;
			width: calc(16 * min(100vh, 100vw) / 9);
			max-width: 100vw;
			/*max-width: 120vw;*/
			aspect-ratio: 16/9;
			/* No clicking/hover effects */
			pointer-events: none;

				margin: none;
				padding: none;


				background-color: black;
	}

		#playerContainer.plain {
			min-height: calc(9 * min(100vh, 100vw) / 16);
			min-width: calc(16 * min(100vh, 100vw) / 9);
			max-height: none;
			max-width: none;
		}

		/* BASED ON : https://codepen.io/jonpad/pen/QWyWbJW */

		#cropping-div {
		  overflow: hidden;
		}

			#div-to-crop {
			  overflow: hidden;
			  margin-top: -51%;
			  margin-bottom: -20%;
			}

				#player-wrapper {
				  position: relative;
				  overflow: hidden;
				  padding-top: 128.25%;
				}

					#player {
					  position: absolute;
					  top: 0;
					  width: 100%;
					  height: 124%;
					  
					}


#siteName.displayed,
#channels.displayed,
#menuControler.displayed
{
	display: block;
}

#siteName.hidden,
#channels.hidden,
#menuControler.hidden
{
	display: none;
}



	/* ------------------------------------
		HEADER
	   ------------------------------------ */

		header
		{
			position: fixed;
			top: calc(.25 * var(--headerHeight));
			left: calc(50vw - var(--videoWidth) / 2 + .25 * var(--channelHeight));
			width: calc(var(--videoWidth) / 4);
			height: var(--headerHeight);

			overflow: hidden;

			z-index: 10;

			display: flex;
			flex-direction: row;
			align-items: center;
			align-content: center;
			justify-content: center;
		}

			#siteLogo
			{
				display: block;
				height: calc(.7 * var(--headerHeight));
				max-width: calc(var(--videoWidth) / 4);

				margin: auto;
			}

				#siteLogo img{
					display: block;
					height: 100%;
					width: auto;
					max-width: calc(var(--videoWidth) / 4 - .5 * var(--headerHeight));

					margin-left: calc(.25 * var(--headerHeight));
					margin-right: calc(.25 * var(--headerHeight));

					filter: drop-shadow(0 0 7.5px black);
				}

	/* ------------------------------------
		CHANNELS
	   ------------------------------------ */

		#channels
		{
			position: fixed;
			top: calc(1.5 * var(--headerHeight));
			left: calc(50vw - var(--videoWidth) / 2 + .25 * var(--channelHeight));
			bottom: calc(.5 * var(--channelHeight));
			width: calc(var(--videoWidth) / 4);
			/*height: calc(100vh - 1.75 * var(--headerHeight));*/

			background-color: var(--backgroundColor);

			z-index: 10;

			filter: drop-shadow(0 0 5px black);
			backdrop-filter: blur(10px);

			overflow: hidden;

			text-transform: uppercase;
		}

			#channelsTitle
			{
				width: calc(100% - .25 * var(--channelHeight));
				height: calc(.75 * var(--channelHeight));
				padding: calc(.125 * var(--channelHeight));

				border-bottom: 2px solid #FFFFFF75;

				overflow: hidden;

				display: flex;
				flex-direction: row;
				align-items: center;
				align-content: center;
				justify-content: center;
			}

				#channelsCategorieBack
				{
					width: 16%;
					height: calc(.75 * var(--channelHeight));

					display: flex;
					flex-direction: row;
					align-items: center;
					align-content: center;
					justify-content: center;

					font-size: calc(1.8 * var(--h1FontSize));
				}

				#channelsCategorieName
				{
					width: 84%;
					height: calc(.75 * var(--channelHeight));
					margin-left: calc(.125 * var(--channelHeight));
					margin-right: calc(.125 * var(--channelHeight));

					display: flex;
					flex-direction: row;
					align-items: center;
					align-content: center;
					justify-content: center;

					font-size: var(--h1FontSize);
				}








				#menuBar
				{
					height: calc(100% - .75 * var(--channelHeight));;
					overflow:scroll !important;
					margin-left: 7%;
				}

					.elementMenuBar
					{
						height: calc(1.25 * var(--channelHeight));
						width: 93%;
						border-bottom: 1px solid #FFFFFF30;

						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-around;
						align-content: center;

						cursor: pointer;
					}

						.elementMenuBar.selected
						{
							background-color: #FF0000;
						}

							.logoElementMenuBar
							{
								width: 20%;
								height: calc(1 * var(--channelHeight));

								display: flex;
								flex-direction: row;
								align-items: center;
								justify-content: center;
								align-content: center;
							}

								.logoElementMenuBar img
								{
									max-height: 100%;
									max-width: 100%;
									padding: 15%;
								}

/*
						.logoElementMenuBar
						{
							width: calc(1.25 * var(--channelHeight));

						}

							.logoElementMenuBar img
							{
								height: calc(.75 * var(--channelHeight));
								width: calc(.875 * var(--channelHeight));
								margin: calc(.25 * var(--channelHeight));
								margin-left: calc(.125 * var(--channelHeight));
							}
*/
						.titlesElementMenuBar
						{
							width: 73%;

						}

							.titlesElementMenuBar h1
							{
								font-size: var(--h2FontSize);
								margin-bottom: calc(var(--channelHeight) / 16);
							}

							.titlesElementMenuBar h2
							{
								font-size: var(--h4FontSize);
								margin-top: calc(var(--channelHeight) / 16);
							}


	/* ------------------------------------
		PLAYER
	   ------------------------------------ */

		#menuControler
		{
			position: fixed;
			bottom: calc(.5 * var(--channelHeight));
			right: calc(50vw - var(--videoWidth) / 2 + .25 * var(--channelHeight));
			width: calc(3 * var(--videoWidth) / 4  - 1 * var(--channelHeight));
			height: calc((100vh - 2 * var(--channelHeight)) / 3);

			background-color: var(--backgroundColor);
			backdrop-filter: blur(10px);

			z-index: 10;

			filter: drop-shadow(0 0 5px black);
		}


		#currentChannel
		{
			position: relative;
			width: 100%;
			height: var(--dataHeight);

			overflow: hidden;
		}

							#currentChannelLogoContainer
							{
								position: absolute;
								top: 0;
								left: 0;
								width: calc(.7 * var(--dataHeight));
								height: calc(.7 * var(--dataHeight));
								padding: calc(.15 * var(--dataHeight));
								/*width: 20%;
								height: calc(1 * var(--channelHeight));*/

								display: flex;
								flex-direction: row;
								align-items: center;
								justify-content: center;
								align-content: center;

							}

								#currentChannelLogo
								{
									max-height: 100%;
									max-width: 100%;
									padding: 12%;
								}



			#currentChannelNameDisplay
			{
				position: absolute;
				top: calc(.2 * var(--dataHeight));
				left: calc(1 * var(--dataHeight));
				font-size: var(--h1FontSize);
				text-transform: uppercase;

			}

			#currentVideoNameDisplay
			{
				position: absolute;
				bottom: calc(.25 * var(--dataHeight));
				left: calc(1.05 * var(--dataHeight));
				font-size: var(--h3FontSize);
				text-transform: uppercase;

			}

			#currentVideoNameDisplay a
			{
				text-decoration: none;
				color: white;
			}


			#videoData { 
				width: 80%;
			}

			#videoDuration
			{
				position: absolute;
				top: 0;
				right: 0;
				height: calc(.8 * var(--dataHeight));
				width: 16%;
				max-width: calc(10 * var(--h3FontSize));
				padding: calc(.1 * var(--dataHeight));

				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				align-content: center;
				text-align: center;

				font-size: var(--h3FontSize);
			}

				#currentVideoTime 					{ width: calc(4 * var(--h3FontSize)); }
				#currentVideoTimeSeparator 	{ width: calc(1 * var(--h3FontSize)); }
				#currentVideoDuration 			{ width: calc(4 * var(--h3FontSize)); }



		#playerControls
		{
			height: var(--controlsHeight);


			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			align-content: center;
		}

		#playerControls > *
		{
			width: calc(.7 * var(--controlsHeight));
			height: calc(.7 * var(--controlsHeight));
			margin: calc(.15 * var(--controlsHeight));
			margin-left: calc(.35 * var(--controlsHeight));
			margin-right: calc(.35 * var(--controlsHeight));
		}

		#advancedControls
		{
			height: var(--settingsHeight);


			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			align-content: center;
		}

			#settingsControls
			{
				margin-left: calc(.35 * var(--currentChannelHeight));
					display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				align-content: center;

			}

				#settingsControls label
				{
					display: block;
					color: white;
					text-transform: uppercase;
					font-size: var(--h4FontSize);
					font-weight: 300;
				}

				#settingsControls select
				{
					display: block;

					border: none;
					color: white;
					text-transform: uppercase;
					font-size: var(--h3FontSize);
					font-weight: bold;

					-webkit-appearance: none;
	        -moz-appearance: none;
	       	appearance: none;

	       	text-align: left;
	       	padding-right: 25px;

	       	background: url("rsrc/mediaPlayer/select.png") 4% / var(--h4FontSize) no-repeat #ffffff00;/*#ffffff00;*/

	       	overflow: visible;
				}

				#selectAudio			{  }
				#selectSubtitles	{ padding-left: calc(3 * var(--h4FontSize)); overflow: visible; }
				#selectResolution	{ width: calc(6 * var(--h2FontSize));}

				#settingsControls select:disabled {
					background: none;
					opacity: .75;
					padding-left: 0;
				}


			#pictureInPicture
			{
				width: calc(.6 * var(--currentChannelHeight));
				height: calc(.6 * var(--currentChannelHeight));
				margin: calc(.2 * var(--currentChannelHeight));
				margin-left: calc(.35 * var(--currentChannelHeight));
				margin-right: calc(.35 * var(--currentChannelHeight));

				filter: invert(1);
			}


			#fillingmode
			{
				width: calc(.6 * var(--currentChannelHeight));
				height: calc(.6 * var(--currentChannelHeight));
				margin: calc(.2 * var(--currentChannelHeight));
				margin-left: calc(.35 * var(--currentChannelHeight));
				margin-right: calc(.35 * var(--currentChannelHeight));

				filter: invert(1);
			}

			#fullscreen
			{
				width: calc(.6 * var(--currentChannelHeight));
				height: calc(.6 * var(--currentChannelHeight));
				margin: calc(.2 * var(--currentChannelHeight));
				margin-left: calc(.35 * var(--currentChannelHeight));
				margin-right: calc(.35 * var(--currentChannelHeight));

				filter: invert(1);
			}





